body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    font-size: 4rem;
    font-family: fantasy; 
    letter-spacing: 0.1em;
    line-height: 1.2em;
}

.letter {
    transition: color 777ms;
}
