body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    font-size: 4rem;
    font-family: fantasy; 
    letter-spacing: 0.1em;
    line-height: 1.2em;
}

.letter {
    transition: color 777ms;
}

/* Smaller screens */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.0rem;
    line-height: 1;
  }
  .letter {
    font-size: 2.0rem;
  }
}

/* Larger screens */
@media only screen and (min-width: 601px) {
  h1 {
    font-size: 2rem;
    line-height: 1;
  }
  .letter {
    font-size: 2rem;
  }
}
